[Unit]
Description=System service that alerts memory usage spikes on Slack
After=network-online.target
 
[Service]
User=user
Type=simple
ExecStart=/home/user/Documents/projects/memoryslack/memoryslack_start.sh
ExecStop=/home/user/Documents/projects/memoryslack/memoryslack_stop.sh

 
[Install]
WantedBy=multi-user.target
